body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border-radius: 50%;
    position: relative;
    /* animation: bounce 1s infinite; */
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Starting and ending position */
    }

    50% {
        transform: translateY(-100px);
        /* Middle position - peak of the bounce */
    }
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #007bff;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Starting position */
    }

    100% {
        transform: rotate(360deg);
        /* Ending position - full rotation */
    }
}

.slideshow {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 5s infinite;
}

img:nth-child(1) {
    animation-delay: 0s;
}

img:nth-child(2) {
    animation-delay: 2s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}